<!-- index.html -->
    <%= render :partial => "partials/user_cover" %>

    <div class="user-main-content container">

      <!-- 側邊資訊欄位 -->
      <div class="user-sidebar">

        <!-- 使用者資料卡，包含社交按鈕 -->
        <%= render :partial => "partials/user_title_card" %>

        <!-- 最新網誌 -->
        <%= render :partial => "partials/user_diary_latest_list" %>

        <!-- 最新留言 -->
        <%= render :partial => "partials/user_diary_comments_list" %>

        <!-- 廣告欄位 -->
        <%= render :partial => "partials/ad_widget" %>

      </div>

      <!-- 主要資料欄位 -->
      <div class="user-main">

        <%= render :partial => "partials/user_content_tabs" %>

        <!-- 日記區塊 -->
        <div class="user-diaries-wrapper">
          <% 5.times.each do |d| %>
            <%= render :partial => "partials/user_diary" %>
          <% end %>
        </div>

      </div>
    </div>
