<!-- index.html -->

<%= render partial: "partials/hot_news_marquee" %>

<!-- slider, hot albums, latest albums, f-status, ads -->
<div class="global-index-main-wrapper container">

  <!-- slider + albums -->
  <div class="global-index-main-col">

    <!-- slider -->
    <ul class="global-index-slider">

      <!-- slider unit -->
      <li>
        <!-- image -->
        <div class="slider-content-wrapper" style="background-image: url(<%= asset_path 'assets/index-slider-image.jpg' %>);">
          <!-- caption -->
          <div class="slider-caption">
            <span><德古拉：永咒傳奇 Dracula Untold></span>
          </div>
        </div>
      </li>

      <!-- slider unit -->
      <li>
        <!-- image -->
        <div class="slider-content-wrapper" style="background-image: url(<%= asset_path 'assets/index-slider-image2.jpg' %>);">
          <!-- caption -->
          <div class="slider-caption">
            <span>< 模仿遊戲 The Imitation Game></span>
          </div>
        </div>
      </li>

      <!-- slider unit -->
      <li>
        <!-- image -->
        <div class="slider-content-wrapper" style="background-image: url(<%= asset_path 'assets/index-slider-image3.jpg' %>);">
          <!-- caption -->
          <div class="slider-caption">
            <span>< 黑帽駭客 blackhat></span>
          </div>
        </div>
      </li>

    </ul>

    <!-- album tabs -->
    <div class="global-index-albums-wrapper">

      <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#hot_album" data-toggle="tab">
              人氣相簿
            </a>
          </li>
          <li>
            <a href="#latest_album" data-toggle="tab">
              最新相簿
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="hot_album">

            <% 3.times.each do |a| %>
            <!-- album unit -->
            <a href="#" class="album-unit">
              <div class="album-cover" style="background-image: url(<%= asset_path 'assets/index-album-cover.jpg' %>);"></div>
              <div class="album-info">
                <h4>iPhone 6 / iPhone 6 plus</h4>
                <span>by Tim Cool</span>
              </div>
            </a>
            <% end %>

          </div>
          <div role="tabpanel" class="tab-pane fade" id="latest_album">
            <% 3.times.each do |a| %>
            <!-- album unit -->
            <a href="#" class="album-unit">
              <div class="album-cover" style="background-image: url(<%= asset_path 'assets/index-album-cover2.jpg' %>);"></div>
              <div class="album-info">
                <h4>生化部隊啟動！</h4>
                <span>by Tim Cool</span>
              </div>
            </a>
            <% end %>
          </div>
        </div>

    </div>


  </div>

  <!-- status + ads -->
  <div class="global-index-side-col">

    <!-- friends status -->
    <div class="global-index-friend-status-wrapper">
      <h3 class="friend-status-title">好友即時動態</h3>

      <% 5.times.each do |s| %>

      <!-- status unit -->
      <div class="status-unit">
        <div class="avatar">
          <%= image_tag 'assets/user-avatar.jpg', :class => "img-responsive img-circle" %>
        </div>
        <div class="content">
          <span class="name">Tim Cool</span>
          <p class="status">到幾乎讓人不忍面對的現實女子成長記事之中，這會兒電影沒有讓其他奇幻的或魔法的炫麗搶走莉莉柯林斯</p>
        </div>
      </div>

      <% end %>

    </div>

    <!-- ads -->
    <%= render partial: "partials/ad_widget" %>

  </div>

</div>
