<!-- 使用者資料卡，包含社交按鈕 -->
<%= render :partial => "partials/user_title_card" %>

<!-- 使用者狀態數值 -->
<%= render :partial => "partials/user_status_info" %>

<!-- 等級一覽表 -->
<%= render :partial => "partials/user_level_info" %>

<!-- 位置資訊 -->
<%= render :partial => "partials/user_location_info" %>

<!-- 群組資訊 -->
<%= render :partial => "partials/user_group_info" %>

<!-- 誰來我家 -->
<%= render :partial => "partials/user_visitor_info" %>

<!-- 廣告欄位 -->
<div class="sidebar-ad-slot">
  廣告欄位
</div>
