<div class="user-level-info">
  <h3 class="title">等級一覽表</h3>
  <span class="more">看更多〉</span>
  <div class="level-list">
    <ul>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
      <li>個人等級：<span><%= rand(30) %></span></li>
    </ul>
  </div>
</div>
