<!-- 單則日記 -->
<div class="user-diary-detail-wrapper">

  <!-- 推爆等級 -->
  <div class="user-diary-baku <%= get_baku_color(diary) %>">
    <div class="baku"><%= get_baku_or_push(diary) %></div>
    <span class="number"><%= get_baku_number(diary) %></span>
  </div>

  <!-- 標題與其他訊息 -->
  <div class="user-diary-info-wrapper">

    <!-- 標題 -->
    <h4 class="user-diary-title"><%= diary.title %></h4>

    <!-- 附加訊息 -->
    <div class="user-diary-subinfo">
      <span class="timestamp"><%= render_diary_publish_time(diary) %></span> <span><%= image_tag 'assets/main-icon-viewed.png' %> 瀏覽（<%= number_with_delimiter diary.viewed, :delimiter => ',' %>）</span>
    </div>

    <!-- 標籤 -->
    <div class="user-diary-tags">
      <ul>
        <li><i class="fa fa-tag"></i>最新網誌</li>
        <li><i class="fa fa-tag"></i>影評</li>
      </ul>
    </div>
  </div>

  <div class="user-diary-content">
    <%= render_diary_featured_img(diary) %>
    <%= render_diary_content(diary) %>
    <%= link_to voteup_user_diary_path, method: :post, class: "pull-right" do %>
      <i class="fa fa-thumbs-up"></i> 推文
    <% end %>
  </div>

  <%= render partial: "partials/disqus_thread", locals: {object: diary, user: user} %>

</div>
