<div class="user-content-tabs">
  <ul>
    <%= nav_link '首頁', user_index_path %>
    <%= nav_link '日記', user_diaries_path %>
    <%= nav_link '相簿', user_albums_path %>
    <%= nav_link '留言', '#' %>
    <%= nav_link '動態', '#' %>
    <%= nav_link '禮物', '#' %>
  </ul>
</div>
