<div class="user-level-info">
  <h3 class="title">等級一覽表</h3>
  <span class="more">看更多〉</span>
  <div class="level-list">
    <ul>
      <!-- <li>個人等級：<span><%= user.level %></span></li> -->
      <li>人氣等級：<span><%= 999999999 %></span></li>
      <li>財富等級：<span><%= 999999999 %></span></li>
      <li>好友等級：<span><%= 999999999 %></span></li>
      <li>推爆等級：<span><%= 999999999 %></span></li>
    </ul>
  </div>
</div>
