<!-- 單則日記 -->
<div class="user-diary-wrapper" data-no-turbolink="true">

  <!-- 推爆等級 -->
  <div class="user-diary-baku gold-baku">
    <div class="baku">推</div>
    <span class="number"><%= diary.cached_votes_score %></span>
  </div>

  <!-- 標題與其他訊息 -->
  <div class="user-diary-info-wrapper">

    <!-- 標題 -->
    <h4 class="user-diary-title"><%= diary.title %></h4>

    <!-- 附加訊息 -->
    <div class="user-diary-subinfo">
      <span class="timestamp"><%= render_diary_publish_human_time(diary) %></span>
      <span>　<%= image_tag 'assets/main-icon-viewed.png' %> 瀏覽（<%= number_with_delimiter diary.viewed, :delimiter => ',' %>）</span>
      <span>  <i class="fa fa-comments fa-lg"></i> <%= link_to "", user_diary_path(user, diary)+"#disqus_thread" %></span>
    </div>

    <!-- 標籤 -->
    <div class="user-diary-tags">
      <ul>
        <li><i class="fa fa-tag"></i>最新網誌</li>
        <li><i class="fa fa-tag"></i>影評</li>
      </ul>
    </div>
  </div>

  <div class="user-diary-content">
    <%= render_diary_featured_img(diary) %>
    <%= render_diary_summary(diary, 250) %>
  </div>

  <div class="read-more-btn">
    <%= link_to '看全文〉', user_diary_path(user, diary), :class => "more" %>
  </div>
</div>
