<%= form_for [@user, @album], :multipart => true do |album| %>

  <!-- title -->
  <div class="form-group">
    <%= album.label :title, "相簿標題" %>
    <%= album.text_field :title, :class => "form-control", :placeholder => "今天拍了什麼照片呢？" %>
  </div>

  <!-- featured_img -->

  <!-- content -->
  <div class="form-group">
    <%= album.label :description, "相簿描述" %>
    <%= album.text_area :description, :class => "form-control", rows: 5, :placeholder => "聊聊這本相簿背後的故事吧！" %>
  </div>

  <%= album.fields_for :photos do |photos| %>
  <div class="form-group">
    <%= photos.label :file %>
    <%= photos.file_field :file, :class => "form-control", multiple: true %>
  </div>
  <% end %>

  <%= album.button :class => "btn btn-primary pull-right" do %>
    建立相簿 <i class="fa fa-photo;"></i>
  <% end %>
<% end %>

<%= console %>
