<!-- index.html -->
<%= render :partial => "partials/user_cover" %>

<div class="user-main-content container">

  <!-- 側邊資訊欄位 -->
  <div class="user-sidebar">

    <!-- 使用者資料卡，包含社交按鈕 -->
    <%= render :partial => "partials/user_title_card", locals: {user: @user} %>

  </div>

  <!-- 主要資料欄位 -->
  <div class="user-main">

    <%= render :partial => "partials/user_content_tabs", locals: {user: @user} %>

  </div>

  <!-- 相簿內容 -->
  <div class="user-albums-wrapper">

    <!-- 相簿選單欄位 -->
    <div class="album-create-options">

      <!-- 新增照片 -->
      <%= render_new_photos_btn(@user) %>

      <!-- 刪除相簿 -->
      <%= render_delete_album_btn(@user) %>

    </div>

    <!-- 照片列表 -->
    <div class="all-pics">
      <h3 class="title"><i class="fa fa-photo"></i> <%= @album.title %> （<%= @album.photos_count %> 張照片）</h3>
      <ul>
        <% @photos.each do |photo| %>
          <li class="photo-unit">
            <div class="photo-frame" style="-webkit-transform: rotate(<%= rand(-1.5..1.5) %>deg);">
              <%= link_to photo.file.url do %>
                <div class="photo" style="background-image: url('<%= photo.file.mid.url %>');"></div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="album-disqus-wrapper">
      <%= render partial: "partials/disqus_thread", locals: {object: @album, user: @user} %>
    </div>

  </div>

</div>
